body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #b565c0, #f6c1e0);
    padding: 20px;
    text-align: center;
}
.logo {
    max-width: 160px;
}

/* CALENDARIO */
.calendario {
    text-align: center;
    padding: 20px;
}
.dias button {
    background: #f6c1e0;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.dias button:hover {
    background: #b565c0;
}
.info {
    margin-top: 15px;
    background: #f9f0f7;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
}

/* GALERÍA */
.galeria {
    text-align: center;
    padding: 30px 15px;
}
.carrusel {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}
.slide {
    display: none;
    width: 100%;
}
.slide.activa {
    display: block;
}

/* FOOTER */
footer {
    background: #b565c0;
    text-align: center;
    padding: 15px;
}
footer i {
    color: white;
    font-size: 26px;
    margin: 0 10px;
}

/* WHATSAPP */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    z-index: 999;
}
.boton-inscripcion {
    text-align: center;
    margin: 25px 0;
}

.boton-inscripcion a {
    background: #b565c0;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.boton-inscripcion a:hover {
    background: #8f4aa3;
}
.inscripcion {
    padding: 30px 20px;
    background: #f9f0f7;
}

.inscripcion h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inscripcion form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inscripcion label {
    margin-top: 10px;
    font-weight: bold;
}

.inscripcion input,
.inscripcion select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.checks {
    margin-top: 15px;
}

.checks label {
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.inscripcion button {
    margin-top: 20px;
    padding: 15px;
    border: none;
    background: #b565c0;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.inscripcion button:hover {
    background: #8f4aa3;
}
#videoFondo {
  position: fixed;    /* fijo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* recorta/ajusta para cubrir toda la pantalla */
  z-index: -1;        /* queda detrás de todo el contenido */
}